
.dropArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 270px;
    margin-top: 20px;
    border: 4px dashed rgb(4, 8, 15);
    border-radius: 15px;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    .adding{
        font-size: 24px;
        font-weight: bold;
        .desc{
            p{
               margin-bottom: 0px;
            }
        }
        .addFilebtn{
            margin-top: 10px;
        }
    }
}